<div style="background-color: #ca9bf7" >
  <font face="Palatino Linotype">
  <div id="title-container">
    <div>Relazione PCTO esterno</div>
    </div> </font>
    <font face="Palatino Linotype">
  <UL TYPE="DISC">
    <LI>
      <p> Sono Greta Schiavi della classe 5E, sezione informatica, frequento
          l'istituto G.Marconi di Pavullo N/F (MO), il pcto esterno è stato
          effettuato nel periodo dal <u> 18/09/2023 al 06/10/2023. </u>
        </p>
      
        Durante il periodo di stage sono stati utilizzati i programmi
        <u> Visual Studio Code </u> e <u> Angular. </u>
     
    </LI>

    <LI>
      
        <p>
          Il PCTO si suddivide in tre settimane, con 8 ore al giorno, per un
          totale di <u> 120 ore. </u>
        </p>
   
     </LI>

    <LI>
      
        <p><u> Azienda: </u> YOU.TA Srl. / Servizi Professionali Integrati.</p>
     
    </LI>

    <LI>
      
        <p><u> Tutor aziendale: </u> Alessio Corradini.</p>
      
    </LI>
 </UL> </font>
    <div style="width: 100%; height: 20rem">
      <div
        style="
          margin: auto auto;
          width: fit-content;
          height: fit-content;
          position: relative;
        "
      >
        <img id="shadow" src="sfondo.jpg" width="170" height="180" />
        <img
          id="image"
          src="logo-youta.jpg"
          width="150"
          height="160"
        />
      </div>
    </div>
</div>
