pre{
    position: relative;
    min-height: 10rem;
    width: 40%;
    background: black;
    border-radius: 5px;
}






/* Buttons management */
#button-container{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
    opacity: 0;
    transition-duration: .3s;
}

pre:hover #button-container{
  opacity: 1;
  transition-duration: .3s;
}

#button-container>button{
  background-color: black;
  border: 1px solid lime;
  border-radius: 6px;;
  color: lime;
  cursor: pointer;
  transition-duration: .3s;
}

#button-container>button:hover{
  background-color: lime;
  color: black;
  transition-duration: .3s;
  width: 10rem;
}






/* Tooltip management */
#tooltip-container{
  position: absolute;
  top: -20px;
  left: 29rem;
  display: flex;
  background-color: black;
  border: 1px solid lime;
  color: lime;
  height: 20px;
  opacity: 0;
  transition-duration: .3s;
  border-radius: 6px;
}

#tooltip-container:hover{
  background-color: lime;
  color: black;
  transition-duration: .3s;
  cursor: pointer;
}

.tooltip-appear {
  opacity: 1 !important;
  transition-duration: .3s;
}
